@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes upAndDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}

@layer components {
  .jump {
    animation: upAndDown 0.5s infinite alternate;
  }
  .text-appear {
    animation: textAppear 0.3s ease-in-out;
    @apply relative overflow-hidden;
  }

  .move-right-on-hover {
    @apply transform transition-transform duration-300 hover:translate-x-8;
  }

  .project-title {
    @apply main-title m-0;
  }
  .main-title {
    @apply text-start leading-tight m-12 font-bold mb-16 text-7xl max-w-5xl mx-auto max-md:text-6xl max-sm:text-5xl max-sm:m-0 max-sm:mt-6;
  }
  .paragraph-title {
    @apply mt-20 mb-2 text-5xl max-md:text-4xl max-sm:text-3xl font-semibold;
  }
  .main-paragraph-text {
    @apply text-2xl max-md:text-xl max-sm:text-lg;
  }
  .paragraph-text {
    @apply text-xl max-md:text-lg max-sm:text-base;
  }
  .bottom-link {
    @apply cursor-pointer flex text-green-300 move-right-on-hover paragraph-text;
  }
  .tap-anywhere {
    @apply absolute bottom-0 left-0 w-full text-center mb-5 text-lg;
  }
  .project-subtitle {
    @apply text-lg text-green-300;
  }

  .nav-button-wrapper {
    @apply mb-5 text-center text-9xl max-md:text-8xl max-sm:text-7xl;
  }
  .nav-wrapper {
    @apply font-semibold bg-transparent pr-40 pt-20 flex justify-end sticky top-0 text-xl max-sm:text-lg max-xl:pr-36 max-lg:pr-24 max-lg:pt-20 max-md:pr-16 max-md:pt-16 max-sm:pr-10 max-sm:pt-10;
  }
  .home-wrapper {
    @apply min-h-screen flex flex-col items-start justify-center bg-gray-900 text-white ml-96 max-2xl:ml-80 max-xl:ml-64 max-lg:ml-44 max-md:ml-28 max-sm:ml-8;
  }
  .page-wrapper {
    @apply min-h-screen p-10 text-center bg-gray-900 text-white;
  }
  .content-wrapper {
    @apply flex flex-col gap-8 text-start max-w-2xl mx-auto mb-20 max-sm:gap-6;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #202225;
}
