@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bottom-link {
    @apply cursor-pointer flex text-green-300 transform transition-transform duration-300 hover:translate-x-8;
  }
  .main-title {
    @apply text-start m-12 mb-8 text-8xl max-w-5xl mx-auto;
  }
  .paragraph-title {
    @apply text-start mt-20 mb-3 text-4xl;
  }

  .nav-button {
    @apply cursor-pointer text-8xl mb-8 transform transition-transform duration-300 hover:translate-x-8;
  }

  .page-wrapper {
    @apply p-10 text-center;
  }
  .content-wrapper {
    @apply flex flex-col gap-5 text-start max-w-xl mx-auto mb-20;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
